<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="https://media.istockphoto.com/id/1007768414/photo/blue-sky-with-bright-sun-and-clouds.jpg?s=612x612&w=0&k=20&c=MGd2-v42lNF7Ie6TtsYoKnohdCfOPFSPQt5XOz4uOy4=" alt="Amulya" class="img-fluid" title="Amulya Weather App" >
                </figure>
    
              </div>
          <!-- left side div  -->
          <div class="col-md-6 col-12 main_header_left">
            <p style="color: blue;">Welcome to Weather App</p>
            <p>
No matter where you are, the weather app can provide you with accurate and detailed weather forecast information, including hourly, daily and weekly weather forecasts. You can also view detailed local and global weather report in the app. The weather forecast app has many functions and is totally free.</p>
           
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        <!-- footer -->

        {{>footer}}


</body>

</html>

